@model TicketingFrontEnd.Models.Films

<div class="text-center">
    
    <table style="width:80%;align-content:center">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Screening</td>
        </tr>
       
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Title </td>
            <td>@Model.ScreeningDate </td>
               
        </tr>
        
    </table>
    <div>
    <a asp-controller="ManageFilms" asp-action="Films">Back to List</a>
</div>
</div>

